Webpack (imports/exports)
	Babel
	Scss
	Eslint
	2 Modes
		- Dev
			Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
		- Prod
			Minified Code
Git

	Production
		2.0.0
		0 ---------------
	Development
		2.0.2
		1 -----------------
-------------------------------------------------------------------------
1 npm install webpack webpack-cli --save-dev
2 npm install --save-dev html-webpack-plugin
3 npm install --save-dev mini-css-extract-plugin
4 npm install --save-dev css-loader
5 npm install sass-loader sass --save-dev
6 npm install @babel/preset-env --save-dev 
7 npm install --save-dev babel-loader @babel/core
8 npm i -D cross-env
9 npm install --save-dev clean-webpack-plugin
10 npm install webpack-dev-server --save-dev
11 npm install --save @babel/polyfill
12 npm install eslint@4.x babel-eslint@8 --save-dev
13 npm install --save-dev eslint-config-google
14 npm install copy-webpack-plugin --save-dev

15 npm install normalize.css
--------------------
git push -u origin css-layout
git checkout main
git branch --all
git checkout -b "css-layout"

--------------------
contenteditable  (https://developer.mozilla.org/ru/docs/Web/HTML/Global_attributes/contenteditable )
spellcheck (запретить проверку правописания)
white-space - (https://developer.mozilla.org/ru/docs/Web/CSS/white-space)

--------------------

 src
	|assests
	|components
			|excel
					|Excel.js
	|core
		|DomListener.js
		|ExcelComponent.js

1 DomListener.js
2 ExcelComponent.js 
	great method toHTML() -- отрисовка шаблонов 
3 Создаем новую директорию
  components

4 statika  (
	1 устанавлием плагин @babel/plugin-proposal-class-properties
	2 подключаем плагин в webpack.js -> module -> rules -> js -> loader -> options
	  plugins: ['@babel/plugin-proposal-class-properties']
)
5 dom|
     |dom.js

6 Работа с Dom
  создаем свой метод  html()
  котором будут  сеттер и гетерр и вернуть инстанс (chein pattern in javascript -> return this)
  пример использования $('div').html('<h1>Test</h1').clear()
  если мы не передаем параметров то это гетер и если передаем то это сетер
 
 7 initDOMListener (Должен быть вызван после отрисовки HTML)
   инилициировать функцию, использовать емтод on() по аналогии с методом addEventListener(listener, fun) 
	
   removeDOMListener



8 add file
  core|
  	  | untils.js
	  |	// создать функцию капиталайз

-------СВОЙСТВА----------

let $class = event.target.parentNode.className
let $class = event.target.currentTarget.className
let $class = event.target.offsetParent.className
-------METHODS JS--------
$el.closest([`data-type="name"`])  /*вернуть родительский элемент
el.getBoundingClientRect()  /* нативный метод позволяет получить координаты мыши
-------LISTENERS JS------

document.onmousemove ( передвижение мыши )

-------EVENTS JS--------

event.target.dataset /*получаем дата отрибуты data-resze="")

типы взаимодействия приложения 
1	через состояние
2   событийная модель

